.popular_movies_grid {
    /* width: 100%; */
    /* min-width: 100%; */
    /* max-width: var(--maxPrimaryPageWidth); */
    /* min-height: 355px; */
    overflow-x: hidden;
    /* transition: height .5s linear; */
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
   
}
.movie_card {
    width: 400px;
    margin-left: 20px;
    cursor: pointer;
    position: relative;
    
}
.popular_img {
    width: 200px;
    height: 300px;
   
}
.popular_movie_title {
    font-size: 20px;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 4px;
    left: 0px;
    background: linear-gradient(to bottom,  #ffffff00, #061161);
    background-size: cover;
    color: white;
    width: 200px;
    margin: 0;
}
.popular_movie_title:hover {
    background: linear-gradient(to bottom,  #ffffff00, #ffffff);
}
.popular_movies_div {
    background: linear-gradient(to bottom,  #ffffff00, #061161);
}